div:has(> input[type="checkbox"]) {
    display: flex;
    align-items: start;
}

div > input[type="checkbox"] {
    margin-right: 10px;
}

/* intl-tel-input library styles override */
.iti {
    width: 100%;
}
.iti__selected-dial-code {
    font-size: 16px;
    line-height: 24px;
}
.iti__search-input {
    font-size: 16px;
}

.required-marker {
    color: red;
    margin-left: 4px;
}

.required-note {
    color: red;
    margin-bottom: 10px;
}
